@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #f9f9f9;
  --foreground: #3f4a60; /* slate-600 */
  /* iOS 안전 영역 변수 설정 */
  --sat: env(safe-area-inset-top);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background-color: #fefefe;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overscroll-behavior: none; /* 사파리/크롬 바운스 방지 */
}

@layer base {
  p {
    @apply text-gray-600;
  }
  .dark p {
    @apply text-gray-200;
  }
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
.form-tabs {
  @apply min-w-16 bg-white border border-gray-200 appearance-none
  dark:bg-gray-900 dark:border-gray-900 
  dark:placeholder:text-gray-600 dark:text-gray-500;
}

input,
button,
select,
textarea .form-tabs {
  @apply rounded-sm  
  disabled:bg-slate-200 disabled:text-slate-400 disabled:border-0 
  placeholder:text-slate-300;
}
/* // <input type="number" /> 사용 시 브라우저는 기본적으로 숫자 증감 화살표(스핀 버튼)를 표시합니다. 이를 제거하려면 브라우저 별로 CSS를 통해 숨겨줘야 합니다. */
/* styles/globals.css */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

@layer base {
  input[type="number"] {
    /* Firefox */
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none m-0;
    -webkit-appearance: none;
  }
}
