@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #f9f9f9;
  --foreground: #3f4a60; /* slate-600 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background-color: #fefefe;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* input,
button {
  border: 1px solid #94a3b8; border-slate-400 
  border-radius: 8px;
  height: 48px;
  padding: 4px;
  ::placeholder {
    color: #94a3b8;
  }
} */

/* // <input type="number" /> 사용 시 브라우저는 기본적으로 숫자 증감 화살표(스핀 버튼)를 표시합니다. 이를 제거하려면 브라우저 별로 CSS를 통해 숨겨줘야 합니다. */
/* styles/globals.css */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
